$nav-height: 90px;

.navbar {
  align-items: center;
  background-color: $white;
  display: flex;
  height: $nav-height;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 1;
  -webkit-box-shadow: 0 8px 6px -6px $grey;
  -moz-box-shadow: 0 8px 6px -6px $grey;
  box-shadow: 0 8px 6px -6px $grey;
}

.navbar-text {
  color: $black;
  font-size: $text-big;
  padding: 20px;
}

.navbar-img {
  width: 200px;
  padding: 20px;
}
