.Form {
  max-width: 320px;
  padding: 30px;
  margin: auto;
  margin-top: 50px;
}

.Input,
.Label,
.Button[type='submit'] {
  font-size: 20px;
}

.Input {
  border-width: 0;
  border-bottom: 3px solid black;
  border-radius: 0;
}

.Input + .Label {
  transition: all 0.2s;
}

.Input + .Label {
  position: absolute;
  left: 0;
  top: -12px;
  pointer-events: none;
  color: gray;
}

.Input:focus + .Label,
.dirty Input + .Label {
  font-size: 12px;
  top: -12px;
  color: black;
}

.Input {
  outline: 0;
  padding: 0;
}

.Input,
.Label,
.Button[type='submit'] {
  font-size: 20px;
}

.Label {
  font-size: 12px;
}

.custom-input-container{
  position: relative;
  margin: 0 0 25px 0;
}

.Input,
.Button[type='submit'] {
  width: 100%;
}

.Input {
  border-color: transparent transparent black transparent;
  border-bottom: 3px solid black;
}

.Button[type='submit']{
  background-color: lightseagreen;
  color: white;
}

.error-text {
  background-color: red;
  color: white;
  margin-top: 10px;
  position: relative;

  &::before {
    content: '';
    border-color: transparent transparent red transparent;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 8px 7px;
    position: absolute;
    left: 20px;
    top: -8px;
  }
}
